test/
*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

com/baixing/search/geli/Test/
com/baixing/search/geli/TempJob/
com/baixing/search/geli/Job/

hive-site.xml
.idea/.name
.idea/artifacts/digwords.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/libraries/spark_assembly_1_2_0_hadoop2_4_0.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
DigWord.iml
out/artifacts/digwords/digwords.jar
out/production/DigWord/.gitignore
out/production/DigWord/.idea/.name
out/production/DigWord/.idea/artifacts/digwords.xml
out/production/DigWord/.idea/compiler.xml
out/production/DigWord/.idea/copyright/profiles_settings.xml
out/production/DigWord/.idea/encodings.xml
out/production/DigWord/.idea/libraries/spark_assembly_1_2_0_hadoop2_4_0.xml
out/production/DigWord/.idea/misc.xml
out/production/DigWord/.idea/modules.xml
out/production/DigWord/.idea/scopes/scope_settings.xml
out/production/DigWord/.idea/vcs.xml
out/production/DigWord/.idea/workspace.xml
out/production/DigWord/DigWord.iml
out/production/DigWord/README.md
